.wrapper {
    display: flex;
    flex-direction: column;
}
.footer {
    // position: absolute;
    // bottom: 0;
    background-color: black;
    width: 100%;
    padding: 4% 5%;
    color: white;
}
